<!DOCTYPE html>
<html>
<body>
<div id="main">
<h2>FiveCrowns Game Scoring Summary - Game Started: {{startDateTime}}</h2>
<h3>WINNING PLAYER: {{winner}}&nbsp;&nbsp; Game Duration: {{duration}}</h3>
<table style="margin-left:20px;table-layout:fixed;" cellpadding="2" cellspacing="0" border="1"><caption>Round Scores<br/>(* = out player)</caption>
    <tr>
        <td align="center"></td>
        {% for player in playerInfo %}
           <td align="center">{{player["name"]}}</td>
        {% endfor %}
        <td align="center"># Turns</td>               
    </tr>
    <tr>
        <td align="center">TOTAL</td>
        {% for player in playerInfo %}
           <td align="center">{{player["totscore"]}}</td>
        {% endfor %}
        <td align="center">{{totturns}}</td>
    </tr>
    <tr>
        <td align="center">R1</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R1"]}}</td>
        {% endfor %}
        <td align="center">{{turns[0]}}</td>

    </tr>
    <tr>
        <td align="center">R2</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R2"]}}</td>
        {% endfor %}
        <td align="center">{{turns[1]}}</td>

    </tr>
    <tr>
        <td align="center">R3</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R3"]}}</td>
        {% endfor %}
        <td align="center">{{turns[2]}}</td>
    </tr>
    <tr>
        <td align="center">R4</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R4"]}}</td>
        {% endfor %}
        <td align="center">{{turns[3]}}</td>
    </tr>
    <tr>
        <td align="center">R5</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R5"]}}</td>
        {% endfor %}
        <td align="center">{{turns[4]}}</td>
    </tr>
    <tr>
        <td align="center">R6</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R6"]}}</td>
        {% endfor %}
        <td align="center">{{turns[5]}}</td>
    </tr>
    <tr>
        <td align="center">R7</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R7"]}}</td>
        {% endfor %}
        <td align="center">{{turns[6]}}</td>
    </tr>
    <tr>
        <td align="center">R8</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R8"]}}</td>
        {% endfor %}
        <td align="center">{{turns[7]}}</td>
    </tr>
    <tr>
        <td align="center">R9</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R9"]}}</td>
        {% endfor %}
        <td align="center">{{turns[8]}}</td>
    </tr>
    <tr>
        <td align="center">R10</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R10"]}}</td>
        {% endfor %}
        <td align="center">{{turns[9]}}</td>
    </tr>
    <tr>
        <td align="center">R11</td>
        {% for player in playerInfo %}
           <td align="center">{{player["R11"]}}</td>
        {% endfor %}
        <td align="center">{{turns[10]}}</td>
    </tr>

    <!-- this will always be the last row -->
    <tr>
        <td align="center"># Outs</td>
        {% for player in playerInfo %}
           <td align="center">{{player["nbrTimesOut"]}}</td>
        {% endfor %}
        <td align="center"></td>
    </tr>

</table>
</div>
</body>
</html>
